@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

:root {
  --dark-magenta: #502050;
  --pink: #ee68a4;
  --grayish-magenta: #937b92;
  --light-magenta: #f7f2f7;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Spartan", sans-serif;
}

img {
  max-width: 100%;
}

/* Heading Component */

.Heading {
  margin: 80px 24px 50px 24px;
  text-align: center;
}

.Heading_content h1 {
  font-size: 3.2rem;
  line-height: 3.2rem;
  color: #502050;
  margin-bottom: 18px;
}

.Heading_content p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: -0.5px;
  color: #937b92;
  margin-bottom: 40px;
}

.Heading_ratings {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.Heading_ratings .Reviews,
.Heading_ratings .ReportGuru,
.Heading_ratings .BestTech {
  color: #502050;
  font-size: 1.3rem;
  font-weight: 700;
  width: 327px;
  height: 78px;
  background-color: #f7f2f7;
  margin-bottom: 16px;
  border-radius: 10px;
}

.Heading_ratings .Reviews img,
.Heading_ratings .ReportGuru img,
.Heading_ratings .BestTech img {
  margin: 16px 0 14px 0;
}

/* Feedback Component */

.Feedback {
  margin: 0 24px 100px 24px;
  color: #f7f2f7;
}

.Feedback_colton,
.Feedback_irene,
.Feedback_anne {
  width: 327px;
  height: 248px;
  background-color: #502050;
  margin-bottom: 16px;
  border-radius: 10px;
}

.Feedback_colton .heading,
.Feedback_irene .heading,
.Feedback_anne .heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 0 0 32px;
}

.Feedback_colton .heading img,
.Feedback_irene .heading img,
.Feedback_anne .heading img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}

.Feedback_colton .heading h6,
.Feedback_irene .heading h6,
.Feedback_anne .heading h6 {
  font-size: 1.3rem;
}

.Feedback_colton .heading p,
.Feedback_irene .heading p,
.Feedback_anne .heading p {
  font-size: 1.3rem;
  color: #ee68a4;
}

.Feedback_colton .body,
.Feedback_irene .body,
.Feedback_anne .body {
  font-size: 1.3rem;
  line-height: 2.2rem;
  font-weight: 500;
  padding: 26px 32px 32px 32px;
}

@media (min-width: 1200px) {
  .Heading {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: flex-start;
  }

  .Heading_content {
    width: 445px;
  }

  .Heading_content h1 {
    font-size: 4.8rem;
    line-height: 4.8rem;
    letter-spacing: -1.71px;
  }

  .Heading_content p {
    margin: 0;
  }

  .Heading_ratings {
    margin: 0;
  }

  .Heading_ratings .Reviews,
  .Heading_ratings .ReportGuru,
  .Heading_ratings .BestTech {
    display: flex;
    align-items: center;
    width: 445px;
    height: 58px;
    padding-left: 25px;
  }

  .Heading_ratings .Reviews {
    margin-left: 100px;
  }

  .Heading_ratings .ReportGuru {
    margin-left: 150px;
  }

  .Heading_ratings .BestTech {
    margin-left: 200px;
  }

  .Heading_ratings .Reviews img,
  .Heading_ratings .ReportGuru img,
  .Heading_ratings .BestTech img {
    margin: 0 3px;
  }

  .Heading_ratings .Reviews p,
  .Heading_ratings .ReportGuru p,
  .Heading_ratings .BestTech p {
    margin: 0 24px;
  }

  .Feedback {
    display: flex;
    justify-content: space-between;
  }

  .Feedback_colton,
  .Feedback_irene,
  .Feedback_anne {
    width: 350px;
    height: 234px;
    border-radius: 10px;
    margin: 0;
  }

  .Feedback_irene {
    margin-top: 25px;
  }

  .Feedback_anne {
    margin-top: 50px;
  }
}
